.App {
  text-align: center;
}

.card {
  display: inline-block;
  width: 3.3em;
  height: 4.6em;
  position: relative;
  border: 1px solid #666;
  border-radius: .3em;
  padding: .25em;
  margin: 0 .5em .5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: .2em .2em .5em #333;
  vertical-align: top;
}
.current-hands {
    padding: 30px;
}